.tópicos {
    background: rgb(199, 157, 32);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 1em;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.1em;
}

.tópicos__link {
    color:  rgb(199, 157, 32);
    padding: 1em;
    background-color:  rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .tópicos__titulo {
        font-size: 24px;
    }

    .tópicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 30vw;
    }
}